extends ../src/core/main

block variables
    - var title = 'Главная';
    - var mainPage = false;
    - var showTitle = true;
    - var contentPage = true;
    - var showAside = true;

block aside
    aside.page__aside

block content
    main.page
        h1 Test page
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quam?