extends src/core/main

block variables
    - var title = 'Главная';
    - var mainPage = true;
    - var showTitle = false;
    - var contentPage = false;
    - var showAside = false;

block content
    .index
        .index__banner
        .index__about
        .index__partners
        .index__sevices
        .index__reviews
        .index__form
        .index__contacts
