@use "../core/ui/mixins" as ui;
.index-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-top: 90px;
  padding-bottom: 70px;
  background: url("/upload/images/content/index-form/bg.jpg") center center no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
  color: var(--white);

  &__left{
    max-width: 466px;
    width: 100%;
  }
  &__title{
    font-weight: 600;
    font-size: 43px;
  }
  &__desc{
    font-size: 24px;
    margin-top: 10px;
  }
  &__right{
    max-width: 434px;
    width: 100%;
  }
  &__fields{
    display:grid;
    gap: 6px;
  }
  &__field{
    input{
      width: 100%;
      font-weight: 500;
      font-size: 20px;
      color: var(--white);
      border-bottom: 1px solid var(--white);
      padding: 10px 0;

      &::placeholder{
        color: var(--white);
      }
    }
  }
  &__accept{
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    gap: 12px;

    input{
      accent-color: var(--white);
    }

    label{
      font-weight: 500;
      font-size: 14px;
    }
  }
  &__submit{
    @include ui.btn-white;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
}