@use "../core/ui/mixins" as ui;

.index-banner {
  position: relative;

  &__tg {
    @include ui.hover-red;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--blue);
    @include ui.lg-block {
      width: 52px;
    }
    @include ui.md-block {
      width: 42px;
    }

    a {
      display: block;
    }

    svg {
      path {
        fill: currentColor;
      }
    }
  }

  &__img {
    img {
      display: block;
      width: 100%;
    }

    &:before {
      content: '';
      width: 129px;
      height: 83px;
      background-image: url("data:image/svg+xml,%3Csvg width='129' height='84' viewBox='0 0 129 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_13_14)'%3E%3Cpath d='M40.0921 83.5853C17.9848 83.5853 0 64.9717 0 42.0793C0 19.1869 17.9848 0.585327 40.0921 0.585327C62.1994 0.585327 80.1842 19.199 80.1842 42.0793H75.5128C75.5128 21.8581 59.6184 5.42004 40.0921 5.42004C20.5657 5.42004 4.67137 21.8702 4.67137 42.0793C4.67137 62.2884 20.5657 78.7385 40.0921 78.7385C48.7108 78.7385 57.0141 75.4993 63.484 69.613L66.5671 73.239C59.2564 79.8989 49.8436 83.5732 40.0921 83.5732V83.5853Z' fill='white'/%3E%3Cpath d='M40.092 74.3631C22.8897 74.3631 8.89893 59.8831 8.89893 42.0793C8.89893 24.2755 22.9014 9.79547 40.092 9.79547C57.2827 9.79547 71.2851 24.2755 71.2851 42.0793H66.6138C66.6138 26.9466 54.7134 14.6302 40.092 14.6302C25.4706 14.6302 13.5703 26.9466 13.5703 42.0793C13.5703 57.212 25.4706 69.5284 40.092 69.5284C46.3283 69.5284 52.3894 67.244 57.1542 63.0982L60.1673 66.7968C54.5616 71.6799 47.4378 74.3631 40.092 74.3631Z' fill='white'/%3E%3Cpath d='M40.092 65.153C27.8063 65.153 17.8096 54.8067 17.8096 42.0914C17.8096 29.3761 27.8063 19.0298 40.092 19.0298C52.3777 19.0298 62.3745 29.3761 62.3745 42.0914V42.5265L57.7031 42.4419V42.1035C57.7031 32.0473 49.8085 23.8766 40.092 23.8766C30.3756 23.8766 22.4809 32.0593 22.4809 42.1035C22.4809 52.1476 30.3872 60.3303 40.092 60.3303C44.8101 60.3303 49.2479 58.4206 52.5763 54.9638L55.8813 58.3723C51.6654 62.7477 46.0597 65.1651 40.092 65.1651V65.153Z' fill='white'/%3E%3Cpath d='M40.092 55.9308C32.7112 55.9308 26.7085 49.7182 26.7085 42.0793C26.7085 34.4405 32.7112 28.2278 40.092 28.2278C47.4728 28.2278 53.4755 34.4405 53.4755 42.0793C53.4755 49.7182 47.4728 55.9308 40.092 55.9308ZM40.092 33.0626C35.2921 33.0626 31.3799 37.1116 31.3799 42.0793C31.3799 47.047 35.2921 51.0961 40.092 51.0961C44.8918 51.0961 48.8041 47.047 48.8041 42.0793C48.8041 37.1116 44.8918 33.0626 40.092 33.0626Z' fill='white'/%3E%3Cpath d='M88.8963 83.5853C66.789 83.5853 48.8042 64.9717 48.8042 42.0914H53.4756C53.4756 62.3126 69.3699 78.7506 88.8963 78.7506C108.423 78.7506 124.317 62.3005 124.317 42.0914C124.317 21.8823 108.423 5.43213 88.8963 5.43213C80.6747 5.43213 72.6516 8.41757 66.3219 13.8325L63.3439 10.1097C70.5027 3.96963 79.5769 0.597412 88.8963 0.597412C111.004 0.597412 128.988 19.2111 128.988 42.0914C128.988 64.9717 111.004 83.5853 88.8963 83.5853Z' fill='white'/%3E%3Cpath d='M88.8962 74.3631C71.6939 74.3631 57.7031 59.8831 57.7031 42.0793H62.3745C62.3745 57.212 74.2748 69.5284 88.8962 69.5284C103.518 69.5284 115.418 57.212 115.418 42.0793C115.418 26.9466 103.518 14.6302 88.8962 14.6302C82.9052 14.6302 77.2528 16.6487 72.5464 20.4681L69.6618 16.6608C75.1974 12.1766 81.8425 9.79547 88.8846 9.79547C106.087 9.79547 120.078 24.2755 120.078 42.0793C120.078 59.8831 106.087 74.3631 88.8846 74.3631H88.8962Z' fill='white'/%3E%3Cpath d='M88.8962 65.153C76.6105 65.153 66.6138 54.8067 66.6138 42.0914H71.2851C71.2851 52.1476 79.1914 60.3183 88.8962 60.3183C98.601 60.3183 106.507 52.1355 106.507 42.0914C106.507 32.0473 98.601 23.8645 88.8962 23.8645C84.5635 23.8645 80.406 25.5083 77.1827 28.4817L74.0763 24.8677C78.1637 21.0966 83.419 19.0298 88.8962 19.0298C101.182 19.0298 111.179 29.3761 111.179 42.0914C111.179 54.8067 101.182 65.153 88.8962 65.153Z' fill='white'/%3E%3Cpath d='M88.8962 55.9308C81.5154 55.9308 75.5127 49.7182 75.5127 42.0793C75.5127 34.4405 81.5154 28.2278 88.8962 28.2278C96.277 28.2278 102.28 34.4405 102.28 42.0793C102.28 49.7182 96.277 55.9308 88.8962 55.9308ZM88.8962 33.0626C84.0963 33.0626 80.1841 37.1116 80.1841 42.0793C80.1841 47.047 84.0963 51.0961 88.8962 51.0961C93.696 51.0961 97.6083 47.047 97.6083 42.0793C97.6083 37.1116 93.696 33.0626 88.8962 33.0626Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_13_14'%3E%3Crect y='0.585327' width='129' height='83' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: cover;
      display: block;
      position: absolute;
      bottom: 22px;
      right: 44px;
      @include ui.xlg-block {
        bottom: 30px;
        right: 30px;
      }
      @include ui.lg-block {
        display: none;
      }
    }
  }

  &__wrap {
    position: absolute;
    top: 85%;
    left: 0;
    max-width: 670px;
    @include ui.xlg-block {
      max-width: 610px;
    }
    @include ui.lg-block {
      max-width: 500px;
    }
    @include ui.md-block {
      max-width: 410px;
    }
    @include ui.sm-block {
      top: 90%;
    }
    @include ui.sm-block {
      max-width: 100%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include ui.lg-block {
      font-size: 26px;
    }
    @include ui.md-block {
      font-size: 22px;
    }
    @include ui.sm-block {
      font-size: 16px;
      margin-bottom: 6px;
      max-width: 210px;
    }

    &--big {
      font-size: 52px;
      @include ui.xlg-block{
        font-size: 34px;
      }
      @include ui.md-block{
        font-size: 24px;
      }
      @include ui.sm-block{
        font-size: 16px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    @include ui.lg-block {
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }
    @include ui.sm-block {
      flex-direction: row;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.23;
    max-width: 440px;
    @include ui.lg-block {
      font-size: 16px;
    }
    @include ui.sm-block {
      font-size: 12px;
    }
  }

  &__btn {
    @include ui.btn-main;
    padding-left: 45px;
    padding-right: 45px;
    @include ui.md-block {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include ui.sm-block {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}