@use "../core/ui/mixins" as ui;
.index-partners{
  margin: 0 -45px;
  padding: 45px 25px;
  background: var(--white);
  border-radius: var(--border-radius);

  &__title{
    font-weight: 600;
    font-size: 36px;
    color: #2c72a7;
    text-align: center;
  }
  &__slider{
    margin-top: 30px;
    display:grid;
    grid-template-columns: 54px 1fr 54px;
    gap: 20px;
  }
  &__swiper{
    width: 100%;
  }
  &__slide{
    border-radius: 14px;
    overflow: hidden;
    img{
      display: block;
      width: 100%;
    }
  }
  &__arr{
    @include ui.btn-arrow;
  }
}