header.header
    .header__left
        .header__logo
            a(href="/")
                img(src="/upload/images/logo.png" alt="logo")
    .header__menu
        a(href="#").header__item О нас
        a(href="#").header__item Бренды
        a(href="#").header__item Услуги
        a(href="#").header__item Отзывы
        a(href="#").header__item Контакты
    .header__right
        .header__phone
            a(href="tel:+7(888)8888080") +7 (888) 888 80 80
        .header__callback
            a(href="#callback") Обратный звонок