@use "../core/ui/mixins" as ui;

body {
  background: var(--bg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    flex-grow: 1;
    //overflow: hidden;
  }
}

.page {
  //overflow: hidden;
}

button{
  cursor: pointer;
}
@include ui.headers;