footer.footer
    .container
        .footer__top
            button(type='button' data-event='click.scrollUp').footer__up
                <svg width="62" height="63" viewBox="0 0 62 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.5657 13.1253C32.1056 12.6652 31.3597 12.6652 30.8996 13.1253L23.402 20.6229C22.9419 21.083 22.9419 21.8289 23.402 22.289C23.8621 22.7491 24.6081 22.7491 25.0682 22.289L31.7327 15.6245L38.3972 22.289C38.8573 22.7491 39.6032 22.7491 40.0633 22.289C40.5234 21.8289 40.5234 21.083 40.0633 20.6229L32.5657 13.1253ZM32.9108 51.5142L32.9108 13.9584L30.5545 13.9584L30.5545 51.5142L32.9108 51.5142Z" fill="#4094D4"/>
                <circle cx="31.1177" cy="31.4849" r="29.4142" stroke="#4094D4" stroke-width="2.35626"/>
                </svg>


            .footer__top-grid
                .footer__left
                    .footer__logo
                        a(href="/")
                            img(src="/upload/images/logo.png" alt="logo")
                    .footer__desc Мы являемся первыми и единственными в России, сотрудничая с ведущими мировыми производителями ЖК дисплеев, такими как BOE, Samsung, LG, Panasonic, Philips и другими.
                .footer__center
                    .footer__phone
                        a(href="tel:+7(888)8888080") +7 (888) 888 80 80
                    .footer__mail
                        a(href="mailto:inbox@screensolutions.ru") inbox@screensolutions.ru
                .footer__right
                    .footer__addr Россия, Москва, 119415, г.  ул. Удальцова д. 1А. Бизнес Центр, 8 этаж
                    .footer__map
                        a(href="#" target='_blank') Показать на карте
    .footer__bottom
        .container
            .footer__bottom-row
                .footer__copyright © 2024 ScreenSolutions Все права защищены.
                .footer__policy
                    a(href="#") Политика Конфиденциальности
